@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white #000000A1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #000000A1;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
  border: 3px solid #000000A1; /* Adjusted to match the track color */
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Show scrollbar */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }

  .scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: 5px; /* Firefox */
    border-radius: 15px;

  }
}


